<!DOCTYPE html>
<html>
  <head>
    <title>RailsTemplate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to 'TOP', :root %>
      <%= "Logging in as #{account.name}" if account %>
      <%= link_to 'log out', "/sessions/#{account.id}", method: :delete if account %>
    </header>
    <p><%= flash.notice %></p>
    <%= yield %>
  </body>
</html>
